@import url('./reset.scss');

$background: hsl(228, 22%, 95%);

body {
  background: $background;
}

header {
  padding: 2rem;

  h1 {
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
  }
}

main {
  max-width: 640px;
  margin: auto;
  padding: 3rem 2rem;
  border-radius: 1rem;
  background: white;

  input {
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    background: $background;
    font-size: large;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;

    li {
      display: block;
      padding: 1rem;
      outline: 2px solid $background;

      button.toggle {
        all: unset;
        font-size: larger;
        cursor: pointer;

        &:active {
          transform: translateY(1px);
        }
      }

      .content {
        padding-left: 1rem;

        &.done {
          color: gray;
          text-decoration: line-through;
        }
      }
    }
  }

  .list-footer {
    display: flex;
    justify-content: space-between;

    .clear-completed {
      all: unset;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
