@import url('./reset.scss');

$background: hsl(228, 22%, 95%);
$background-100: hsl(228, 22%, 86%);
$selected: hsl(228, 22%, 20%);
$done: hsl(0, 0%, 50%);
$border: hsl(0, 0%, 100%);
$red: hsl(0, 100%, 95%);
$red-darker: hsl(0, 100%, 80%);
$green: hsl(134, 100%, 95%);
$green-darker: hsl(134, 100%, 80%);
$blue: hsl(195, 100%, 95%);
$blue-darker: hsl(195, 100%, 80%);
$neutral: hsl(0, 0%, 95%);
$neutral-lighter: hsl(0, 0%, 99%);
$neutral-darker: hsl(0, 0%, 80%);

$box-btn-bg: hsl(0, 0%, 30%);
$box-btn-content: hsl(0, 0%, 95%);
$box-btn-selected-bg: hsl(0, 0%, 85%);
$box-btn-selected-content: hsl(0, 0%, 15%);

@mixin textinput {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  background: $background;
  font-size: large;
  resize: none;
}

body {
  padding-bottom: 8rem;
  background: $background;
}

button {
  &:focus-visible {
    outline: solid 1px $selected;
  }
}

@mixin boxbutton {
  background: $box-btn-bg;
  color: $box-btn-content;
}

@mixin boxbutton-active {
  background: $box-btn-selected-bg;
  box-shadow: inset 0 0 5px hsl(0, 0%, 75%);
  color: $box-btn-selected-content;
}

@mixin content-card {
  max-width: 640px;
  margin: auto;
  padding: 3rem 2rem;
  border-radius: 1rem;
  background: white;
}

header {
  padding: 2rem;

  h1 {
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
  }
}

main,
footer {
  margin-bottom: 6rem;
  padding: 0 2rem 1rem;
}

main .main-card {
  @include content-card();

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  form {
    textarea {
      @include textinput();
    }

    label {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    input#image-url {
      @include textinput();
      padding: 0.75rem 1rem;
      font-size: medium;
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem;

      .color-selection {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        button {
          width: 2rem;
          height: 2rem;

          &.color-select-red {
            background: $red-darker;
          }
          &.color-select-green {
            background: $green-darker;
          }
          &.color-select-blue {
            background: $blue-darker;
          }
          &.color-select-neutral {
            background: $neutral-darker;
          }

          &.selected {
            border: $selected solid 2px;
          }
        }
      }

      > button {
        @include boxbutton();
        padding: 0.5rem 1rem;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding: 3rem 0;
    gap: 0.25rem;
    border-top: solid 1px $background-100;
    border-bottom: solid 1px $background-100;

    li {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      outline: 2px solid $border;

      &.color-red {
        background: $red;
      }
      &.color-green {
        background: $green;
      }
      &.color-blue {
        background: $blue;
      }
      &.color-neutral {
        background: $neutral;
      }

      &.placeholder-todo {
        padding: 0.5rem;
        text-align: center;
        .content {
          margin: auto;
        }
      }

      &:focus {
        outline: solid 0.5px $selected;
      }

      &:focus-visible {
        outline: solid 1.5px $selected;
      }

      button.toggle {
        padding: 0.5rem;
        font-size: larger;

        &:active {
          transform: translateY(1px);
        }
      }

      .content {
        flex: auto;
        padding: 0.75rem 0.5rem;
        &.done {
          color: $done;
          text-decoration: line-through;
        }
      }

      button.delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        padding: 0.5rem;
        background: $box-btn-selected-bg;
        color: $box-btn-selected-content;

        &:active {
          transform: translateY(1px);
        }
      }

      .handle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        padding: 1rem;

        background: $box-btn-selected-bg;
        font-size: larger;
        cursor: grab;
      }
    }
  }

  input.search {
    @include textinput();
    padding: 0.75rem 1rem;
    font-size: medium;
  }

  .list-footer {
    display: grid;
    align-items: center;
    padding: 2rem 0 0;
    justify-items: center;
    gap: 1rem;

    @media screen and (min-width: 640px) {
      gap: 0;
      grid-template-columns: 1fr auto 1fr;
    }

    .filter {
      display: flex;
      order: -1;
      @media screen and (min-width: 640px) {
        order: unset;
      }
      gap: 0.25rem;
      button {
        @include boxbutton();
        padding: 0.5rem 1rem;
        &.selected {
          @include boxbutton-active();
        }
      }
    }

    .clear-completed {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (min-width: 640px) {
      > :first-child {
        justify-self: left;
      }
      > :last-child {
        justify-self: end;
      }
    }
  }
}

footer {
  @include content-card();
  h2 {
    font-size: xx-large;
    font-weight: normal;
  }
  h3 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    font-size: x-large;
  }
  ul {
    padding: 1rem 0;
    border-radius: 1rem;
    li {
      padding: 1rem;
      background: $neutral-lighter;
      &:nth-child(odd) {
        background: $neutral;
      }
      h4 {
        padding-bottom: 0.25rem;
        font-family: monospace;
        font-size: x-large;
      }
    }
    > :first-child {
      border-radius: 1rem 1rem 0 0;
    }
    > :last-child {
      border-radius: 0 0 1rem 1rem;
    }
  }
  .note {
    h2 {
      padding: 0.5rem 0;
      font-size: x-large;
    }
  }
}
