ul,
li {
  all: unset;
  display: block;
}

:root,
textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  all: unset;
  cursor: pointer;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
